In [1]:
import pandas as pd
from pathlib import Path
import pyarrow.parquet as pq

month = 1
year = 2024
path = Path("..") / "data" / "processed" / f"ts_data_{year}_{month:02}.parquet"

table = pq.read_table(path)
ts_data = table.to_pandas()
ts_data.head()

          pickup_hour pickup_location_id  rides
0 2024-01-01 00:00:00                         0
1 2024-01-01 01:00:00                         0
2 2024-01-01 02:00:00                         0
3 2024-01-01 03:00:00                         0
4 2024-01-01 04:00:00                         0

In [4]:
ts_data[ts_data["pickup_location_id"]=='JC115'].head(36)

              pickup_hour pickup_location_id  rides
65472 2024-01-01 00:00:00              JC115      3
65473 2024-01-01 01:00:00              JC115      5
65474 2024-01-01 02:00:00              JC115      6
65475 2024-01-01 03:00:00              JC115      2
65476 2024-01-01 04:00:00              JC115      4
65477 2024-01-01 05:00:00              JC115      1
65478 2024-01-01 06:00:00              JC115      0
65479 2024-01-01 07:00:00              JC115      0
65480 2024-01-01 08:00:00              JC115      1
65481 2024-01-01 09:00:00              JC115      1
65482 2024-01-01 10:00:00              JC115      3
65483 2024-01-01 11:00:00              JC115      4
65484 2024-01-01 12:00:00              JC115      4
65485 2024-01-01 13:00:00              JC115      6
65486 2024-01-01 14:00:00              JC115      9
65487 2024-01-01 15:00:00              JC115      3
65488 2024-01-01 16:00:00              JC115      5
65489 2024-01-01 17:00:00              JC115      3
65490 2024-01-01 18:00:00              JC115      6
65491 2024-01-01 19:00:00              JC115     11
65492 2024-01-01 20:00:00              JC115      3
65493 2024-01-01 21:00:00              JC115      2
65494 2024-01-01 22:00:00              JC115      1
65495 2024-01-01 23:00:00              JC115      1
65496 2024-01-02 00:00:00              JC115      2
65497 2024-01-02 01:00:00              JC115      0
65498 2024-01-02 02:00:00              JC115      0
65499 2024-01-02 03:00:00              JC115      0
65500 2024-01-02 04:00:00              JC115      0
65501 2024-01-02 05:00:00              JC115      0
65502 2024-01-02 06:00:00              JC115      1
65503 2024-01-02 07:00:00              JC115      4
65504 2024-01-02 08:00:00              JC115      1
65505 2024-01-02 09:00:00              JC115      0
65506 2024-01-02 10:00:00              JC115      0
65507 2024-01-02 11:00:00              JC115      6

In [7]:

ts_data[ts_data["pickup_location_id"]=='HB102'].head(36)

             pickup_hour pickup_location_id  rides
5952 2024-01-01 00:00:00              HB102      5
5953 2024-01-01 01:00:00              HB102      5
5954 2024-01-01 02:00:00              HB102     22
5955 2024-01-01 03:00:00              HB102      2
5956 2024-01-01 04:00:00              HB102      2
5957 2024-01-01 05:00:00              HB102      0
5958 2024-01-01 06:00:00              HB102      0
5959 2024-01-01 07:00:00              HB102      0
5960 2024-01-01 08:00:00              HB102      0
5961 2024-01-01 09:00:00              HB102      1
5962 2024-01-01 10:00:00              HB102      1
5963 2024-01-01 11:00:00              HB102      5
5964 2024-01-01 12:00:00              HB102      5
5965 2024-01-01 13:00:00              HB102      5
5966 2024-01-01 14:00:00              HB102      4
5967 2024-01-01 15:00:00              HB102      2
5968 2024-01-01 16:00:00              HB102      3
5969 2024-01-01 17:00:00              HB102      1
5970 2024-01-01 18:00:00              HB102      3
5971 2024-01-01 19:00:00              HB102      4
5972 2024-01-01 20:00:00              HB102      3
5973 2024-01-01 21:00:00              HB102      1
5974 2024-01-01 22:00:00              HB102      1
5975 2024-01-01 23:00:00              HB102      0
5976 2024-01-02 00:00:00              HB102      0
5977 2024-01-02 01:00:00              HB102      1
5978 2024-01-02 02:00:00              HB102      0
5979 2024-01-02 03:00:00              HB102      0
5980 2024-01-02 04:00:00              HB102      0
5981 2024-01-02 05:00:00              HB102      0
5982 2024-01-02 06:00:00              HB102      0
5983 2024-01-02 07:00:00              HB102      1
5984 2024-01-02 08:00:00              HB102      4
5985 2024-01-02 09:00:00              HB102      7
5986 2024-01-02 10:00:00              HB102      1
5987 2024-01-02 11:00:00              HB102      1

In [8]:
import pandas as pd
import numpy as np

def transform_time_series_to_tabular(df, location_id, feature_col="rides", window_size=12, step_size=1):
    """
    Transforms time series data for a given location ID into a tabular format.
    The first `window_size` rows are used as features, and the next row is the target.
    The process slides down by `step_size` rows at a time to create the next set of features and target.

    Parameters:
        df (pd.DataFrame): The input DataFrame containing time series data.
        location_id (int): The location ID to filter the data for.
        feature_col (str): The column name containing the values to use as features and target (default is "rides").
        window_size (int): The number of rows to use as features (default is 12).
        step_size (int): The number of rows to slide the window by (default is 1).

    Returns:
        pd.DataFrame: A transformed DataFrame where the first `window_size` columns are features
                      and the last column is the target.
    """
    # Filter the data for the given location ID
    location_data = df[df["pickup_location_id"] == location_id].reset_index(drop=True)

    # Extract the feature column as a NumPy array
    values = location_data[feature_col].values

    # Ensure there are enough rows to create at least one window
    if len(values) <= window_size:
        raise ValueError("Not enough data to create even one window of features and target.")

    # Create the tabular data using a sliding window approach
    rows = []
    for i in range(0, len(values) - window_size, step_size):
        # The first `window_size` values are features, and the next value is the target
        features = values[i:i + window_size] 
        target = values[i + window_size] 
        rows.append(np.append(features, target))

    # Convert the list of rows into a DataFrame
    column_names = [f"feature_{i+1}" for i in range(window_size)] + ["target"]
    transformed_df = pd.DataFrame(rows, columns=column_names)

    return transformed_df

In [9]:
features_targets = transform_time_series_to_tabular(ts_data, 'JC115', "rides", 24, 1)

In [10]:
features_targets

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,target
0,3,5,6,2,4,1,0,0,1,1,...,3,5,3,6,11,3,2,1,1,2
1,5,6,2,4,1,0,0,1,1,3,...,5,3,6,11,3,2,1,1,2,0
2,6,2,4,1,0,0,1,1,3,4,...,3,6,11,3,2,1,1,2,0,0
3,2,4,1,0,0,1,1,3,4,4,...,6,11,3,2,1,1,2,0,0,0
4,4,1,0,0,1,1,3,4,4,6,...,11,3,2,1,1,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,4,2,1,0,1,1,1,1,0,0,...,2,0,1,4,4,6,9,32,11,4
716,2,1,0,1,1,1,1,0,0,0,...,0,1,4,4,6,9,32,11,4,2
717,1,0,1,1,1,1,0,0,0,0,...,1,4,4,6,9,32,11,4,2,1
718,0,1,1,1,1,0,0,0,0,2,...,4,4,6,9,32,11,4,2,1,0
719,1,1,1,1,0,0,0,0,2,3,...,4,6,9,32,11,4,2,1,0,1