In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os
os.path.abspath(os.path.join(os.getcwd(), ".."))

'/Users/ajit/Desktop/Citibike_prediction_aml'

In [3]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_bike_data

In [4]:
rides = load_and_process_bike_data(year=2024)

File already exists for 2024-01.
Loading data for 2024-01...
Total records: 50,661
Valid records: 50,626
Records dropped: 35 (0.07%)
Successfully processed data for 2024-01.
File already exists for 2024-02.
Loading data for 2024-02...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 55,613
Valid records: 55,582
Records dropped: 31 (0.06%)
Successfully processed data for 2024-02.
File already exists for 2024-03.
Loading data for 2024-03...
Total records: 65,581
Valid records: 65,553
Records dropped: 28 (0.04%)
Successfully processed data for 2024-03.
File already exists for 2024-04.
Loading data for 2024-04...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 79,116
Valid records: 79,071
Records dropped: 45 (0.06%)
Successfully processed data for 2024-04.
File already exists for 2024-05.
Loading data for 2024-05...
Total records: 97,479
Valid records: 97,405
Records dropped: 74 (0.08%)
Successfully processed data for 2024-05.
File already exists for 2024-06.
Loading data for 2024-06...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 111,115
Valid records: 110,952
Records dropped: 163 (0.15%)
Successfully processed data for 2024-06.
File already exists for 2024-07.
Loading data for 2024-07...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 112,443
Valid records: 112,366
Records dropped: 77 (0.07%)
Successfully processed data for 2024-07.
File already exists for 2024-08.
Loading data for 2024-08...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 106,451
Valid records: 106,405
Records dropped: 46 (0.04%)
Successfully processed data for 2024-08.
File already exists for 2024-09.
Loading data for 2024-09...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 115,558
Valid records: 115,516
Records dropped: 42 (0.04%)
Successfully processed data for 2024-09.
File already exists for 2024-10.
Loading data for 2024-10...

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 118,307
Valid records: 118,268
Records dropped: 39 (0.03%)
Successfully processed data for 2024-10.
File already exists for 2024-11.
Loading data for 2024-11...
Total records: 85,294
Valid records: 85,263
Records dropped: 31 (0.04%)
Successfully processed data for 2024-11.
File already exists for 2024-12.
Loading data for 2024-12...
Total records: 54,833
Valid records: 54,813
Records dropped: 20 (0.04%)
Successfully processed data for 2024-12.
Combining all monthly data...
Data loading and processing complete!

/Users/ajit/Desktop/Citibike_prediction_aml/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

In [5]:
rides

                pickup_datetime pickup_location_id
0       2024-01-01 00:06:21.000              JC038
1       2024-01-01 00:07:37.000              JC116
2       2024-01-01 00:08:26.000              JC116
3       2024-01-01 00:08:36.000              HB102
4       2024-01-01 00:08:44.000              JC116
...                         ...                ...
1051815 2024-12-31 23:41:34.230              JC076
1051816 2024-12-31 23:50:07.562              JC023
1051817 2024-12-31 23:50:13.243              JC023
1051818 2024-12-31 23:51:39.161              HB303
1051819 2024-12-31 23:54:10.246              JC109

[1051820 rows x 2 columns]

In [6]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051820 entries, 0 to 1051819
Data columns (total 2 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   pickup_datetime     1051820 non-null  datetime64[ns]
 1   pickup_location_id  1051716 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.0+ MB

In [7]:
rides_cp = rides.copy()

In [8]:
rides['pickup_location_id'].unique()

array(['JC038', 'JC116', 'HB102', 'HB611', 'JC109', 'JC115', 'JC078',
       'JC035', 'JC055', 'HB502', 'HB608', 'HB103', 'JC032', 'HB501',
       'HB610', 'JC063', 'HB302', 'JC102', 'JC052', 'HB407', 'HB202',
       'HB105', 'HB506', 'HB203', 'HB408', 'HB201', 'JC008', 'JC072',
       'JC104', 'HB601', 'HB404', 'JC014', 'JC105', 'JC019', 'HB603',
       'JC093', 'JC066', 'HB303', 'JC013', 'HB505', 'HB304', 'JC110',
       'HB409', 'JC099', 'JC074', 'JC006', 'JC024', 'JC082', 'HB301',
       'HB101', 'HB609', 'HB402', 'JC103', 'HB305', 'JC080', 'JC009',
       'HB401', 'JC003', 'HB602', 'JC034', 'JC076', 'JC023', 'JC059',
       'JC098', 'JC053', 'JC084', 'JC020', 'JC095', 'JC051', 'HB503',
       'JC094', 'JC077', 'JC057', 'JC002', 'JC022', 'JC081', 'JC065',
       'JC027', 'JC075', 'JC108', 'JC018', 'JC097', 'JC107', nan],
      dtype=object)

In [9]:
rides

                pickup_datetime pickup_location_id
0       2024-01-01 00:06:21.000              JC038
1       2024-01-01 00:07:37.000              JC116
2       2024-01-01 00:08:26.000              JC116
3       2024-01-01 00:08:36.000              HB102
4       2024-01-01 00:08:44.000              JC116
...                         ...                ...
1051815 2024-12-31 23:41:34.230              JC076
1051816 2024-12-31 23:50:07.562              JC023
1051817 2024-12-31 23:50:13.243              JC023
1051818 2024-12-31 23:51:39.161              HB303
1051819 2024-12-31 23:54:10.246              JC109

[1051820 rows x 2 columns]

In [10]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides,6)
ts_data.head()

          pickup_hour pickup_location_id  rides
0 2024-01-01 00:00:00              HB101     12
1 2024-01-01 01:00:00              HB101      0
2 2024-01-01 02:00:00              HB101      0
3 2024-01-01 03:00:00              HB101      0
4 2024-01-01 04:00:00              HB101      0

In [12]:
ts_data.tail()

               pickup_hour pickup_location_id  rides
728652 2024-12-31 14:00:00              JC116      0
728653 2024-12-31 15:00:00              JC116      0
728654 2024-12-31 16:00:00              JC116      0
728655 2024-12-31 17:00:00              JC116      0
728656 2024-12-31 18:00:00              JC116      7

In [13]:
ts_data

               pickup_hour pickup_location_id  rides
0      2024-01-01 00:00:00              HB101     12
1      2024-01-01 01:00:00              HB101      0
2      2024-01-01 02:00:00              HB101      0
3      2024-01-01 03:00:00              HB101      0
4      2024-01-01 04:00:00              HB101      0
...                    ...                ...    ...
728652 2024-12-31 14:00:00              JC116      0
728653 2024-12-31 15:00:00              JC116      0
728654 2024-12-31 16:00:00              JC116      0
728655 2024-12-31 17:00:00              JC116      0
728656 2024-12-31 18:00:00              JC116      7

[728657 rows x 3 columns]

In [15]:
ts_data['pickup_location_id'].unique()

array(['HB101', 'HB102', 'HB103', 'HB105', 'HB201', 'HB202', 'HB203',
       'HB301', 'HB302', 'HB303', 'HB304', 'HB305', 'HB401', 'HB402',
       'HB404', 'HB407', 'HB408', 'HB409', 'HB501', 'HB502', 'HB503',
       'HB505', 'HB506', 'HB601', 'HB602', 'HB603', 'HB608', 'HB609',
       'HB610', 'HB611', 'JC002', 'JC003', 'JC006', 'JC008', 'JC009',
       'JC013', 'JC014', 'JC018', 'JC019', 'JC020', 'JC022', 'JC023',
       'JC024', 'JC027', 'JC032', 'JC034', 'JC035', 'JC038', 'JC051',
       'JC052', 'JC053', 'JC055', 'JC057', 'JC059', 'JC063', 'JC065',
       'JC066', 'JC072', 'JC074', 'JC075', 'JC076', 'JC077', 'JC078',
       'JC080', 'JC081', 'JC082', 'JC084', 'JC093', 'JC094', 'JC095',
       'JC097', 'JC098', 'JC099', 'JC102', 'JC103', 'JC104', 'JC105',
       'JC107', 'JC108', 'JC109', 'JC110', 'JC115', 'JC116'], dtype=object)

In [16]:
ts_data.shape

(728657, 3)

In [17]:
ts_data.shape

(728657, 3)

In [19]:
from src.data_utils import transform_ts_data_info_features_and_target

features, targets = transform_ts_data_info_features_and_target(ts_data, window_size=24*28, step_size=12)

In [20]:

features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,12,0,0,0,0,0,4,0,0,0,...,0,0,6,0,0,0,0,0,2024-01-29 00:00:00,HB101
1,10,0,0,0,0,0,6,0,0,0,...,0,0,11,0,0,0,0,0,2024-01-29 12:00:00,HB101
2,0,0,0,0,0,0,16,0,0,0,...,0,0,15,0,0,0,0,0,2024-01-30 00:00:00,HB101
3,29,0,0,0,0,0,11,0,0,0,...,0,0,9,0,0,0,0,0,2024-01-30 12:00:00,HB101
4,0,0,0,0,0,0,19,0,0,0,...,0,0,13,0,0,0,0,0,2024-01-31 00:00:00,HB101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56103,7,0,0,0,0,0,3,0,0,0,...,0,0,7,0,0,0,0,0,2024-12-29 12:00:00,JC116
56104,0,0,0,0,0,0,7,0,0,0,...,0,0,8,0,0,0,0,0,2024-12-30 00:00:00,JC116
56105,19,0,0,0,0,0,16,0,0,0,...,0,0,3,0,0,0,0,0,2024-12-30 12:00:00,JC116
56106,1,0,0,0,0,0,5,0,0,0,...,0,0,8,0,0,0,0,0,2024-12-31 00:00:00,JC116
56107,24,0,0,0,0,0,15,0,0,0,...,0,0,7,0,0,0,0,0,2024-12-31 12:00:00,JC116

In [21]:

targets

0         2
1        19
2         1
3        30
4         0
         ..
56103    12
56104     2
56105    26
56106     0
56107    12
Name: target, Length: 56108, dtype: int16

In [22]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")